body {
/**/
  background-attachment:fixed;
  display:flex;
  flex-direction: column;
  align-items: center;
  background: url("images/foret.jpg") fixed no-repeat;
  background-size: cover;
  margin: 0;




}

a
{
	text-decoration:none;
  color: black;
}


.container {
 display:flex;
 flex-direction: column;
 text-align: center;
 color: black;
 width: 100%;
 align-items: center;

}

.nav {
  width: 100%;
  height: 3%;
  color: black;
  background-color: #fff;


}
.nav li {
  display: inline;
  margin: 0;
  padding: 0;
	display:inline-block;
	margin: 0 30px;
  padding-left: 70px;
}
.nom {
  width: 100%; ;
  height: 320px;
  color: black;
  text-align: center;
  font-size: 18px;
  padding-top: 5%;

}

.nom h2 {
  margin: 0;
  padding: 0;
  font-size: 50px;
}
.nom p {
 padding-top: 8%
}
.moi {
  width: 90%;
  height: 300px;
  background-color: rgb(192, 195, 198);
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 20px 20px;
}
.parcours {
  
   border-radius: 0 0 20px 20px ;
  background-color: #fff;
  text-align: center;
  height: 300px;

}

.texte {
  text-align: left;
  width: 40%;
  margin-left: 40%;
}

.projet{
  height: 400px;
  width: 100%;
margin-right: 6%;
}

.projet img {
   margin-left: 5%;
}
.donuts {
  width: 20%;
  height: 60%;
}

.integration4 {
  width: 16%;
  height: 60%;
}

.integration5 {
  width: 16%;
  height: 60%;

}

.competence{
  display: flex;
  flex-direction: column;
  height: 360px;
  width: 100%;
  text-align: center;
}

.ligne1{
margin-left: 6%;
}

.ligne2 {
  margin-left: 6%;
}

.ligne1 img {
  height: 75%;
  width: 7%;
  margin: 2% 6% 0 0;
}

.ligne2 img {
   height: 75%;
  width: 7%;
  margin-right: 5%;
  margin-top: 2%;
}

.contacts{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 200px;

  width: 100%;
  t
}
.git {
  width: 55%;
}

.git img{
  height: 70%;
  width: 57%;
}

.mail {

}
.mail h2 {
  margin-top: 0;
  margin-bottom: 1%;
}

.linkedin img{
   height: 50%;
  width: 17%;

}
